{% assign url_continueshopping = settings.url_continueshopping_cart %}
<div class="text-center">
    <a href="{{ url_continueshopping }}"  class="btn-reg" title="Continue shopping">Continue shopping</a>
</div>
  