{% comment %}theme-check-disable{% endcomment %}
{% assign navbarbgcolor = settings.navbar_color %}
<style>
    .slick-next:before, .slick-prev:before{
      color: {{ navbarbgcolor }};
    }
    .slick-next{
      right:0px;
      z-index: 100;
    }
    .slick-prev{
      left:0px;
      z-index:100;
    }
  </style>
  <div class="slick-slider">
      {% for image in product.images %}
        <div>
          <img class="mySlides" src="{{ image | product_img_url: 'master' }}" style="max-height:35vh;width:auto;max-width:100%;object-fit:cover;">
        </div>
      {% endfor %}
    </div>
  
  <script type="text/javascript">
      jQuery(document).ready(function(){
        jQuery('.slick-slider').slick({
          dots: true
        });
      });
    </script>
  {% comment %}theme-check-enable{% endcomment %}