{% comment %}theme-check-disable{% endcomment %}
{% assign page_handle = page.handle %}
{% assign blog_handle = blog.handle %}
{% assign collection_handle = collection.handle %}     
{% assign template_handle = template.name %}
{% assign collection_template_suffix = collection.template_suffix %}

<section class="container-fluid px-0 py-0 bg-none">  
    <div class="container-fluid d-flex flex-wrap row-cols-xxl-4 row-cols-l-4 row-cols-md-3 row-cols-sm-2 row-cols-1 m-0 px-0 py-10 bg-dark">
        {% for block in section.blocks %}
                {% if block.settings.page_handle == page_handle or template == 'index' or block.settings.collection_handle == collection_handle or template_handle == 'list-collections' or block.settings.blog_handle == blog_handle or collection_template_suffix != nil %}

                {% render 'brand-card', block: block  %}         
            {% endif %}
       {% endfor %}
     </div>     
   </div>
   
   <style>
   @media only screen and (max-width: 768px) {
     .container {
       max-width: 100% !important;
     }
   }
   </style>
</section> 

{% schema %}
    {
        "name": "Brand List",
        "max_blocks": 4,
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "default": "Brand List"
            }
        ],
        "blocks": [
            {
                "type": "brand_image",
                "name": "Brand",
                "settings": [
                    {
                        "type": "page",
                        "id": "page_handle",
                        "label": "Select a page"
                    },
                    {
                        "type": "blog",
                        "id": "blog_handle",
                        "label": "Select a blog"
                    },
                    {
                        "type": "collection",
                        "id": "collection_handle",
                        "label": "Select a collection"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Brand Image"
                    },
                    { "type": "url", 
                        "id": "brand_img_url", 
                        "label": "Image URL" 
                    },
                    {
                        "type": "text",
                        "id": "brand_name",
                        "label": "Brand Name"
                    },
                    {
                        "type": "richtext",
                        "id": "brand_story",
                        "label": "Brand Story"
                    },
                    {
                        "type": "text",
                        "id": "hover_text",
                        "label": "Hover Text"
                    },
                    {
                        "type": "url",
                        "id": "link",
                        "label": "Brand Link",
                        "info": "Optional"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Brand List",
                "category": "Image",
                "blocks": [
                    {
                        "type": "brand_image"
                    },
                    {
                        "type": "brand_image"
                    },
                    {
                        "type": "brand_image"
                    },
                    {
                        "type": "brand_image"
                    }
                ]
            }
        ]

    }
{% endschema %}
{% comment %}theme-check-enable{% endcomment %}