<div class="container-fluid">
    <div class="row d-flex flex-wrap">
        <div class="col d-flex flex-wrap flex-dire">
            <div class="feature-image">Image1</div>
            <div class="feature-head">Feature 1</div>
            <div class="feature-desc">Desc1</div>
        </div>
        <div class="col d-flex flex-wrap">
            <div class="feature-image">Image2</div>
            <div class="feature-head">Feature 2</div>
            <div class="feature-desc">Desc 2</div>
        </div>
        <div class="col d-flex flex-wrap">
            <div class="feature-image">Image3</div>
            <div class="feature-head">Feature 3</div>
            <div class="feature-desc">Desc3</div>
        </div>
    </div>
</div>