{% if section.settings.container == 'container' %}
    {% assign container_class = 'container' %}
{% else %}
    {% assign container_class = 'container-fluid' %}
{% endif %}

<div class="{{ container_class }} py-5">
    <h1 class="py-2">{{ page.title }}</h1>
    {% if section.settings.show_published_date %}
    <small>{{ page.published_at | date: '%B %d, %Y' }}</small>
    {% endif %}
    <div class="py-5">{{ page.content }}</div>
</div>



{% schema %}
    {
        "name": "Page Settings",
        "settings": [
            {

            "type": "select",
            "id": "container",
            "label": "layout",
            "options": [
                {
                    "value": "container",
                    "label": "Container"
                },
                {
                    "value": "container-fluid",
                    "label": "Container Fluid"
                }
            ],
            "default": "container"
            },
            {
                "type": "checkbox",
                "id": "show_published_date",
                "default": true,
                "label": "show Publish Date"

            }
        ]
    }
{% endschema %}

