
{% comment %}theme-check-disable{% endcomment %}
<script src="{{ 'getprdrecomm.js' | asset_url }}"></script> 
{% assign page_handle = page.handle %}
{% assign product_handle = product.handle %}
{% assign collection_handle = collection.handle %}

{% if section.blocks.size > 0 %}
	{% for block in section.blocks %}
		{% if block.settings.page_handle == page_handle  or block.settings.product_handle == product_handle or block.settings.collection_handle == collection_handle %}

		<section class="container py-5" id="prd_recomm">
			{% comment %} <style scoped>	  
				.icon {
				height: 30px;
				width: 30px;
				fill: transparent !important;
				stroke: #11171B !important;
				transition: fill 0.3s ease;
				}
			
				.active .icon {
				fill: #F652A0 !important;
				stroke: transparent !important;
				}
			
				.snippet-wishlist {
				position: relative;
				padding-top: 10px;
				padding-bottom: 10px;
				}  
			
				.wishlist-badge {  
				left: 0;
				}  
			</style> {% endcomment %}
		</section>
		<script>
			
			getRecommsPrd({{ product.id }});

		

			{% comment %} var wishlistSnippet =  document.createElement('div');   
			wishlistSnippet.className = 'snippet-wishlist';

			wishlistcard = `<button type="button" aria-label="Add to wishlist" class="wishlist-badge" style="left:0;bottom:0;" button-wishlist btn-from-section data-product-handle="{{product.handle}}"><svg class="icon">{% render 'heart-badge' %}</svg></button>`;     
			//wishlistcard = `<button type="button" aria-label="Add to wishlist" class="wishlist-badge" button-wishlist data-product-handle="{{product.handle}}"><svg class="icon"><svg xmlns="http://www.w3.org/2000/svg" id="heart-badge" height="24" width="24"  class="bi bi-heart-fill" viewBox="0 -2 
			//    16 24"><path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg></svg></button>`;
			
			wishlistSnippet.innerHTML = wishlistcard;

			const referenceTitle = document.getElementById("qty-part");        
			referenceTitle.after(wishlistSnippet);

			setTimeout(()=>{
				initButtons();       
			},2)
			clearTimeout(); 
		{% endcomment %}


			</script>
		{% endif %}
	{% endfor %}	
{% endif %}
{% schema %}
    {
        "name": "Product recommendation",
        "max_blocks": 1,
	"blocks": [
		{
		"type": "product_recommendation",
		"name": "Product Recommendation",
		"settings": [
			{
				"type": "page",
				"id": "page_handle",
				"label": "Select a page"
			},
			{
				"type": "collection",
				"id": "collection_handle",
				"label": "Select static for specific. Select dynamic for general"
			},
			{
				"type": "product",
				"id": "product_handle",
				"label": "Select static product for specific. Select dynamic for general"
			},			
			{
				"type": "text",
				"id": "section_id",
				"default": "prdrecommend",
				"label": "Section Unique Name or ID - Must use for multiple blocks"
			}         
			
		]
		}
	],
	"presets": [
		{
			"name": {
				"en": "Product Recommendation"
			},
			"category": {
				"en": "Product Recommendation"
			},
			"blocks": [
				{
					"type": "product_recommendation"
				}
			]
		}
	]
}
{% endschema %}
{% comment %}theme-check-enable{% endcomment %}
