{%- liquid
    if section.settings.container == 'container' 
        assign container_class = 'container' 
    else 
        assign container_class = 'container-fluid'
    endif

    assign page_handle = page.handle
 -%}

{%- if section.blocks.size > 0 -%}
    

    {% for block in section.blocks %}

        {% if block.settings.page_handle == page_handle %}
            {% comment %} <!-- py-0 cause container will be repetead according to block settings --> {% endcomment %}
            <div class="{{ container_class }} py-5">  

            {% case block.type %}
                {% when 'page_title' %}
                    <h1 class="py-0 text-center">{{ page.title }}</h1>

                {% when 'page_date' %}
                    {% if section.settings.show_published_date %}
                        <small>{{ page.published_at | date: '%B %d, %Y' }}</small>
                    {% endif %}
                {% when 'page_content' %}
                    <div class="py-0">{{ page.content }}</div>               
                {% else %}              
            {% endcase %}
             </div>

    {% endif %}

   {% endfor %}
{%- endif -%}
{% schema %}
    {
        "name": "Page Settings",
        "settings": [
            {
                "type": "page",
                "id": "page_handle",
                "label": "Select a page"
            },
            {              
            "type": "select",
            "id": "container",
            "label": "layout",
            "options": [
                {
                    "value": "container",
                    "label": "Container"
                },
                {
                    "value": "container-fluid",
                    "label": "Container Fluid"
                }
            ],
            "default": "container"
            },
            {
                "type": "checkbox",
                "id": "show_published_date",
                "default": true,
                "label": "show Publish Date"

            }
        ],
        "blocks": [
            {
                "type": "page_title",
                "name": "Title",  
                "settings": [ 
                    {
                    "type": "page",
                    "id": "page_handle",
                    "label": "Select a page"
                    }
                ]
            },
            {
                "type": "page_date",
                "name": "Date",
                "settings": [ 
                    {
                    "type": "page",
                    "id": "page_handle",
                    "label": "Select a page"
                    }
                ]
            },
            {
                "type": "page_content",
                "name": "Content",
                "settings": [ 
                    {
                    "type": "page",
                    "id": "page_handle",
                    "label": "Select a page"
                    }
                ]
            }
        ]
    }
{% endschema %}

