{% if section.settings.container == 'container' %}
    {% assign container_class = 'container' %}
{% else %}
    {% assign container_class = 'container-fluid' %}
{% endif %}

{% assign page_handle = page.handle %}

<div class="{{ container_class }} py-5">
    
    

    {% for block in section.blocks %}

        {% if block.settings.page_handle == page_handle %}

            {% case block.type %}
                {% when 'page_title' %}
                    <h1 class="py-2 text-center">{{ page.title }}</h1>

                {% when 'page_date' %}
                    {% if section.settings.show_published_date %}
                        <small>{{ page.published_at | date: '%B %d, %Y' }}</small>
                    {% endif %}
                {% when 'page_content' %}
                    <div class="py-5">{{ page.content }}</div>               
                {% else %}              
            {% endcase %}
    {% endif %}

   {% endfor %}


</div>
<style>
/** pull-quote styles **/
.left-pull { display: block; padding: 7px 11px; margin-left: 5px; width: 170px; float: left; margin-right: 10px; background: #555; color: #bcbcbc; font-weight: bold; line-height: 17px; font-size: 15px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

.left-pull p { font-style: italic; color: #d5d5d5; }
.left-pull .ref { font-size: 11px; }
</style>

{% schema %}
    {
        "name": "Page Settings",
        "settings": [
            {
                "type": "page",
                "id": "page_handle",
                "label": "Select a page"
            },
            {              
            "type": "select",
            "id": "container",
            "label": "layout",
            "options": [
                {
                    "value": "container",
                    "label": "Container"
                },
                {
                    "value": "container-fluid",
                    "label": "Container Fluid"
                }
            ],
            "default": "container"
            },
            {
                "type": "checkbox",
                "id": "show_published_date",
                "default": true,
                "label": "show Publish Date"

            }
        ],
        "blocks": [
            {
                "type": "page_title",
                "name": "Title",  
                "settings": [ 
                    {
                    "type": "page",
                    "id": "page_handle",
                    "label": "Select a page"
                    }
                ]
            },
            {
                "type": "page_date",
                "name": "Date",
                "settings": [ 
                    {
                    "type": "page",
                    "id": "page_handle",
                    "label": "Select a page"
                    }
                ]
            },
            {
                "type": "page_content",
                "name": "Content",
                "settings": [ 
                    {
                    "type": "page",
                    "id": "page_handle",
                    "label": "Select a page"
                    }
                ]
            }
        ]
    }
{% endschema %}

