{% comment %}theme-check-disable{% endcomment %}
{% comment %} <!-- div tag left open. closing div will be in section files to fix layout issue --> {% endcomment %}
<div class="container border-0 shadow-lg border-0 py-0 px-0">  
<h1 class="text-center py-2 page-header">{{ page.title }}</h1>
{% section 'lookbook-1' %}
{% comment %}theme-check-enable{% endcomment %}
