{% comment %}theme-check-disable{% endcomment %}
<div class="container py-5">
    <div class="row">
        <div class="rcol-12 col-md-8 my-2">
          
    
          <div class="article-section">
            {{ page.content }}
          </div>

          <div class="article-section">
            {% section 'page-faq-template.liquid' %}
          </div>            
          
          
        </div>
        <div class="col-12 col-md-4 my-2">      
            {% section 'dynamic-sidebar' %}            
          
            {% section 'random-product' %}             
        </div>
    </div>
    
</div>
</div>
{% render 'prd-modal' %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
      update_cart();
      adjustAnnouncementBar();
      //get all productInfoAnchor
      var testPrd = document.querySelectorAll('[id^="productInfoAnchor-"]');
      var arrtesPrd = Array.from(testPrd);
      //console.log('All productInfoAnchor ');
      //console.log(arrtesPrd);
  
      testPrd.forEach(item => {
        //console.log(item.id);
        getProductAnchors(item.id);
      });
    });
</script>
{% comment %}theme-check-enable{% endcomment %}