
<section class="container py-5" id="wishlist">
  <h1 class="text-center py-2">{{ page.title }}</h1>
  <div class="row d-flex g-3 row-cols-xxl-5 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1 py-2" grid-wishlist>
  <!-- <div class="grid" grid-wishlist> -->
    <div class="wishlist-spinner">
      <div class="spinner-border" role="status">
      </div>      
    </div>      
  </div>
  <div id="wishlist-text" class="row d-none">
    <p class="text-cart-empty">Wishlist is empty</p>        
  </div>  
</section>
<div class="text-center pb-2">
  <a href="/collections/all"  class="btn-reg" title="Continue shopping">Continue shopping</a>
</div>
<div class="modal modalfade" id="productInfoModal" tabIndex="-1" aria-hidden="true" style="z-index:2000">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content">
          <div class="modal-header" style="border-bottom: none;">
            <h1 id="productInfoTitle" class="text-product-title"></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
          </div>
          <div class="modal-body">
              <div class="row">
                    <div class="col-12 col-md-6">
                      <img class="img-fluid" style="max-height:50vh;height:480px;width:480px;" width="480" height="480" src="" id="productInfoImg" alt="" loading="lazy"> 
                      <div id="badge"></div>
                    </div>         

                    <div class="col-12 col-md-6"> 
                      <p id="productInfoPrice" class="text-header-title"></p>
                      <p id="productInfoDescription" class="text-product-desc"></p>
                    </div>
              </div>             
          </div> 
          <div class="modal-footer" style="border-top: none;">
            <div class="col-12 col-md-6"></div>
            <div class="col-12 col-md-6 px-2">
              <form action="#" id="addToCartForm" class="row">
                <select name="id" id="modalItemID" class="form-select col-auto">
                </select>
                <p></p> 
                <input type="number" name="quantity" value="1" id="modalItemQuantity" min="1" max="9999" class="col-auto w-100">
                <P></P>
                <button type="submit" id="btnAddToCart" class="btn-add-to-cart col-auto w-100">Add to Cart</button>
                <p></p>
              </form>
            </div>              
          </div>
      </div>
  </div>
</div>

<style>
.form-select {
    border-left: none;
    border-right: none;
    border-top: none;
}
input {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #ced4da;
}

.wishlist-spinner {
  height: 100vh;
  width: 100vw;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
</style>
